<template>
  <div class="container">
    <div class="jumbotron">
      <h1>Авторизация</h1>
      <div class="form-group">
        <label for="login">Введите логин</label>
        <input id="login"
               type="text"
               class="form-control"
               placeholder="Логин"
               :class="{ 'is-invalid' : loginException !== null}"
               v-model="login">
        <div class="invalid-feedback">
          {{loginException}}
        </div>
      </div>

      <div class="form-group">
        <label for="pass">Введите пароль</label>
        <input id="pass"
               type="password"
               class="form-control"
               placeholder="Пароль"
               :class="{ 'is-invalid' : passException !== null}"
               v-model="password">
        <div class="invalid-feedback">
          {{passException}}
        </div>
      </div>

      <div v-if="error" class="alert alert-danger" role="alert">
        {{error}}
      </div>

      <div class="form-group">
        <button
          class="btn btn-primary"
          @click="loginProcess()">
          Войти
        </button>
        <button
          class="btn btn-info"
          @click="goToRegistration()">
          Регистрация
        </button>
      </div>

    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: "Login",
    data() {
      return {
        login: null,
        password: null,

        loginException: null,
        passException: null,
        error: null
      }
    },

    methods: {
      loginProcess() {

        if (this.login === null || this.login.length < 5 || this.login.length > 128) {
          this.loginException = 'Логин от 5 до 128 символов!';
        } else {
          this.loginException = null
        }

        if (this.password === null || this.password.length < 8 || this.password.length > 256) {
          this.passException = 'Пароль от 8 до 256 символов!';
          return;
        } else {
          this.passException = null
        }

        axios.post('/api/auth/login', {
          login: this.login,
          password: this.password
        })
          .then(response => {
            let accessToken = response.data.accessToken;
            let firstName = response.data.firstName;
            let role = response.data.role;
            if (accessToken !== null) {
              localStorage.setItem('accessToken', accessToken);
              localStorage.setItem('firstName', firstName);
              localStorage.setItem('role', role);
              this.$router.push({name: 'Main'});
            }
          })
          .catch(error => {
            this.error = error.response.data.message;
          })
      },

      goToRegistration() {
        this.$router.push({name: 'Registration'});
      }
    },

    created() {
      this.accessToken = localStorage.getItem('accessToken');
      if (this.accessToken) {
        this.$router.push({name: 'Main'});
      }
    },

  }
</script>

<style scoped>
  .container {
    padding: 20px;
    width: 380px;
  }
</style>
