<template>
  <div>
    <ModalCreateTopic v-if="showModalCreateTopic" @close="showModalCreateTopic = false"/>

    <div class="container">

      <div class="float-right">
        <p style="display: inline">Здравствуйте, {{firstName}}</p>
        <button class="btn btn-secondary btn-sm" @click="logOut()">Выйти</button>
      </div>


      <h1>Топики</h1>

      <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Наименование</th>
          <th scope="col">
            <button class="btn btn-primary btn-sm" @click="showModalCreateTopic = true">Создать топик</button>
          </th>
        </tr>
        </thead>
        <tbody v-for="topic in topics"
               :key="topic.id">
        <tr>
          <th scope="row">{{topic.id}}</th>
          <td><a href="#" @click="e => {e.preventDefault(); getTopic(topic.id)}">{{topic.name}}</a></td>
          <td>
            <button v-if="showAdminButtons" class="btn btn-danger btn-sm" @click="deleteTopic(topic.id)">Удалить</button>
          </td>
        </tr>

        </tbody>
      </table>

      <v-pagination v-if="topics" :total="totalPages" v-model="currentPage"></v-pagination>

      <div v-if="error" class="alert alert-danger" role="alert">
        {{error}}
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import ModalCreateTopic from "@/components/ModalCreateTopic";

  export default {
    name: "Main",
    components: {ModalCreateTopic},
    data() {
      return {
        accessToken: null,
        firstName: null,
        role: null,

        topics: null,

        currentPage: 1,
        currentSize: 3,

        totalElements: 1,
        totalPages: 1,

        error: null,

        showAdminButtons: false,
        showModalCreateTopic: false
      }
    },

    watch:{
      currentPage: function(o, n) {
        this.getTopics();
      }
    },

    methods: {
      getTopics() {
        let payload = {
          limit: this.currentSize,
          page: this.currentPage,
        };

        axios
          .get('/api/topic', {
            params: payload,
            headers: {
              Authorization: 'Bearer ' + this.accessToken
            }
          })
          .then(response => {
            this.topics = response.data.data;
            this.totalElements = response.data.totalElements;
            this.totalPages = response.data.totalPages;
            this.error = null;
          })
          .catch(error => {
            if (error.response.status === 403) {
              localStorage.removeItem('accessToken');
              this.$router.push({name: 'Login'})
            }
            this.error = error.response.data.message;
          });
      },

      logOut() {
        localStorage.removeItem('accessToken');
        localStorage.removeItem('firstName');
        localStorage.removeItem('role');
        this.$router.push({
          name: 'Login'
        })
      },

      getTopic(id) {
        this.$router.push({
          name: 'Topic',
          params: {
            id: id
          }
        });
      },

      deleteTopic(id) {
        if (confirm('Вы подтверждаете удаление?') === true) {
          axios
            .delete(
              '/api/topic/' + id,
              {
                headers: {
                  Authorization: 'Bearer ' + this.accessToken
                }
              }
            )
            .then(response => {
              this.topics = null;
              this.currentPage = 1;
              this.getTopics();
            })
            .catch(error => {
              this.error = error.response.data.message;
            });
        }
      },

      },
      created() {
        this.accessToken = localStorage.getItem('accessToken');
        this.firstName = localStorage.getItem('firstName');
        this.role = localStorage.getItem('role');

        if (!this.accessToken) {
          this.$router.push({name: 'Login'});
        }
        if (this.role === 'ROLE_ADMIN') {
          this.showAdminButtons = true;
        }

        this.getTopics();

    }
  }
</script>

<style scoped>
  .container {
    padding: 20px;
  }

  .login p {
    padding-right: 20px;
  }
</style>
