<template>
  <div class="modal-create-topic">
    <div class="fields" @click="$emit('close')"></div>
    <div class="container">

      <button
        class="close"
        @click="$emit('close')">&times;
      </button>

      <div class="createForm">
        <h1>Создание топика</h1>

        <div class="form-group">
          <label for="name">Введите название топика</label>
          <input id="name"
                 type="text"
                 class="form-control"
                 placeholder="Название"
                 :class="{ 'is-invalid' : nameException !== null}"
                 v-model="name">
          <div class="invalid-feedback">
            {{nameException}}
          </div>
        </div>

        <div v-if="error" class="alert alert-danger" role="alert">
          {{error}}
        </div>

        <div class="form-group">
          <button
            class="btn btn-primary" @click="$emit('close')">
            Отмена
          </button>
          <button
            class="btn btn-success" @click="createTopic()">
            Создать
          </button>
        </div>

      </div>

    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: "ModalCreateTopic",
    data() {
      return {
        accessToken: null,

        name: null,
        nameException: null,

        error: null
      }
    },

    methods: {
      createTopic() {

        if (this.name === null || this.name.length < 3 || this.name.length > 128) {
          this.nameException = 'Наименование от 3 до 128 символов!';
          return;
        } else {
          this.nameException = null
        }

        let payload = {
          name: this.name
        };

        axios.post('/api/topic',
          payload, {
            headers: {
              Authorization: 'Bearer ' + this.accessToken
            }
          })
          .then(response => {
            let id = response.data.id;
            this.$router.push({
              name: 'Topic',
              params: {
                id: id
              }
            });
          })
          .catch(error => {
            this.error = error.response.data.message;
          })
      }
    },

    created() {
      this.accessToken = localStorage.getItem('accessToken');
    }
  }
</script>

<style scoped>
  .modal-create-topic {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .fields {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    position: fixed;
  }

  .container {
    width: 400px;
    z-index: 999;
    background-color: #f7f7f7;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .createForm {
    padding: 20px;
  }
</style>
