<template>
  <div class="container">
    <div class="jumbotron">
      <h1>Регистрация</h1>

      <div class="form-group">
        <label for="login">Введите логин</label>
        <input id="login"
               type="text"
               class="form-control"
               placeholder="Логин"
               @blur="existLogin()"
               :class="{ 'is-invalid' : loginException !== null}"
               v-model="login">
        <div class="invalid-feedback">
          {{loginException}}
        </div>
      </div>

      <div class="form-group">

        <label for="firstName">Введите имя</label>
        <input id="firstName"
               type="text"
               class="form-control"
               placeholder="Имя"
               :class="{ 'is-invalid' : firstNameException !== null}"
               v-model="firstName">
        <div class="invalid-feedback">
          {{firstNameException}}
        </div>
      </div>

      <div class="form-group">

        <label for="lastName">Введите фамилию</label>
        <input id="lastName"
               type="text"
               class="form-control"
               placeholder="Фамилия"
               :class="{ 'is-invalid' : lastNameException !== null}"
               v-model="lastName">
        <div class="invalid-feedback">
          {{lastNameException}}
        </div>
      </div>

      <div class="form-group">
        <label for="pass">Введите пароль</label>
        <input id="pass"
               type="password"
               class="form-control"
               placeholder="Пароль"
               :class="{ 'is-invalid' : passException !== null}"
               v-model="password">
        <div class="invalid-feedback">
          {{passException}}
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPass">Подтвердите пароль</label>
        <input id="confirmPass"
               type="password"
               class="form-control"
               placeholder="Подтвердите пароль"
               :class="{ 'is-invalid' : confirmPassException !== null}"
               v-model="confirmPassword">
        <div class="invalid-feedback">
          {{confirmPassException}}
        </div>
      </div>

      <div v-if="error" class="alert alert-danger" role="alert">
        {{error}}
      </div>

      <div class="form-group">
        <button
          class="btn btn-primary"
          @click="back()">
          Назад
        </button>
        <button
          class="btn btn-success"
          @click="create()">
          Создать
        </button>
      </div>

    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: "Registration",
    data() {
      return {
        login: null,
        firstName: null,
        lastName: null,
        password: null,
        confirmPassword: null,


        loginException: null,
        firstNameException: null,
        lastNameException: null,
        passException: null,
        confirmPassException: null,
        error: null
      }
    },

    methods: {

      back() {
        this.$router.push({name: 'Login'});
      },

      existLogin() {
        let payload = {
          login: this.login
        };

        axios
          .get('/api/auth/login-exists', {
            params: payload
          })
          .then(response => {
            this.loginException = null;
          })
          .catch(error => {
            this.loginException = error.response.data.message;
          });
      },

      create() {
        if (this.login === null || this.login.length < 5 || this.login.length > 128) {
          this.loginException = 'Логин от 5 до 128 символов!';
        } else {
          this.loginException = null
        }

        if (this.firstName !== null && this.firstName.length > 128) {
          this.firstNameException = 'Имя не более 128 символов!';
        } else {
          this.firstNameException = null
        }

        if (this.lastNameException !== null && this.lastNameException.length > 128) {
          this.lastNameException = 'Фамилия не более 128 символов!';
        } else {
          this.lastNameException = null
        }

        if (this.password === null || this.password.length < 8 || this.password.length > 256) {
          this.passException = 'Пароль от 8 до 256 символов!';
        } else {
          this.passException = null
        }

        if (this.password !== this.confirmPassword) {
          this.confirmPassException = 'Пароли не совпадают';
        } else {
          this.confirmPassException = null;
        }

        if (this.loginException !== null ||
          this.firstNameException !== null ||
          this.lastNameException !== null ||
          this.passException !== null || this.confirmPassException !== null) {
          return;
        }

        axios.post('/api/auth/registration', {
          login: this.login,
          password: this.password,
          firstName: this.firstName,
          lastName: this.lastName,
        })
          .then(response => {
            this.$router.push({name: 'Login'});
          })
          .catch(error => {
            this.error = error.response.data.message;
          })
      }
    }
  }
</script>

<style scoped>
  .container {
    padding: 20px;
    width: 380px;
  }
</style>
