<template>
  <div class="container">

    <div style="padding-bottom: 40px">
      <div class="float-left">
        <button
          class="btn btn-secondary btn-sm float-left"
          @click="goToMain()">На главную
        </button>
      </div>
      <div class="float-right">
        <p style="display: inline">Здравствуйте, {{firstName}}</p>
        <button class="btn btn-secondary btn-sm" @click="logOut()">Выйти</button>
      </div>
    </div>

    <h1 v-if="topic">Топик: {{topic.name}}</h1>

    <div v-if="topic && messages">
      <hr>
      <h2 class="messageBlockTitle">Сообщения:</h2>

      <div v-for="message in messages">
        <p><b>Имя пользователя:</b> {{message.user.firstName}}</p>
        <p><b>Сообщение:</b> {{message.text}}</p>
        <p><b>Дата:</b> {{message.creationDate | moment('DD.MM.YYYY HH:mm')}}</p>
        <button v-if="showAdminButtons || firstName === message.user.firstName" class="btn btn-danger" @click="deleteMessage(message.id)">Удалить</button>
        <hr>
      </div>
      <v-pagination :total="totalPages" v-model="currentPage"></v-pagination>
    </div>

    <div v-if="error" class="alert alert-danger" role="alert">
      {{error}}
    </div>

    <div>
      <p>Введите сообщение:</p>

      <textarea class="textarea"
                placeholder="Сообщение"
                v-model="newMessage">
        </textarea>

      <div v-if="newMessageException" class="alert alert-danger" role="alert">
        {{newMessageException}}
      </div>

      <div>
        <button
          class="btn btn-success"
          @click="createMessage()">Отправить
        </button>
      </div>

    </div>

  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: "Topic",
    data() {
      return {
        firstName: null,
        role: null,

        idTopic: null,
        topic: null,

        messages: null,
        currentPage: 1,
        currentSize: 3,
        totalElements: 1,
        totalPages: 1,

        newMessage: null,
        newMessageException: null,

        error: null,
        showAdminButtons: false
      }
    },

    watch:{
      currentPage: function(o, n) {
        this.getMessages();
      }
    },

    methods: {

      goToMain() {
        this.$router.push({name: 'Main'})
      },

      createMessage() {
        if (this.newMessage === null || this.newMessage.length < 3) {
          this.newMessageException = 'Сообщение может быть от 3 символов!';
          return;
        } else {
          this.newMessageException = null
        }


        let payload = {
          text: this.newMessage
        };

        axios.post('/api/message/topic/' + this.idTopic,
          payload, {
            headers: {
              Authorization: 'Bearer ' + this.accessToken
            }
          })
          .then(response => {
            this.newMessage = null;
            this.messages = null;
            this.newMessageException = null;
            this.error = null;
            this.getMessages();
          })
          .catch(error => {
            this.error = error.response.data.message;
          })
      },

      getTopic() {
        axios
          .get('/api/topic/' + this.idTopic, {
            headers: {
              Authorization: 'Bearer ' + this.accessToken
            }
          })
          .then(response => {
            this.topic = response.data;
          })
          .catch(error => {
            if (error.response.status === 403) {
              localStorage.removeItem('accessToken');
              this.$router.push({name: 'Login'})
            }
            this.error = error.response.data.message;
          });
      },

      getMessages() {
        let payload = {
          limit: this.currentSize,
          page: this.currentPage,
        };
        axios
          .get('/api/message/topic/' + this.idTopic, {
            params: payload,
            headers: {
              Authorization: 'Bearer ' + this.accessToken
            }
          })
          .then(response => {
            this.messages = response.data.data;
            this.totalElements = response.data.totalElements;
            this.totalPages = response.data.totalPages;
          })
          .catch(error => {
            if (error.response.status === 403) {
              localStorage.removeItem('accessToken');
              this.$router.push({name: 'Login'})
            }
            this.error = error.response.data.message;
          });
      },

      deleteMessage(id) {
        if (confirm('Вы подтверждаете удаление?') === true) {
          axios
            .delete(
              '/api/message/' + id,
              {
                headers: {
                  Authorization: 'Bearer ' + this.accessToken
                }
              }
            )
            .then(response => {
              this.messages = null;
              this.currentPage = 1;
              this.getMessages();
            })
            .catch(error => {
              this.error = error.response.data.message;
            });
        }
      },

      logOut() {
        localStorage.removeItem('accessToken');
        localStorage.removeItem('firstName');
        localStorage.removeItem('role');
        this.$router.push({
          name: 'Login'
        })
      },

    },

    created() {
      this.accessToken = localStorage.getItem('accessToken');
      this.firstName = localStorage.getItem('firstName');
      this.role = localStorage.getItem('role');

      if (!this.accessToken) {
        this.$router.push({name: 'Login'});
      }
      if (this.role === 'ROLE_ADMIN') {
        this.showAdminButtons = true;
      }
      this.idTopic = this.$route.params.id;
      this.getTopic();
      this.getMessages();
    },

  }
</script>

<style scoped>
  .container {
    padding: 20px;
  }

  .messageBlockTitle {
    padding-bottom: 20px;
  }

  textarea {
    width: 100%;
  }
</style>
